<mat-toolbar mat-dialog-title color='dark'>
  <span>Setting</span>
  <span class="example-spacer"></span>
  <i class="fa fa-close" (click)="closeDialog()"></i>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="General" [formGroup]="generalForm">
    <p class='setting-item'>
      Created On <span> {{ this.activeNote.info.created_on*1000 | date}}</span>
    </p>
    <!-- <p class='setting-item'>
     Auto Save <mat-slide-toggle formControlName='autoSave'></mat-slide-toggle>
    </p> -->
    <p class='setting-item'>
      Show Note Title <mat-slide-toggle formControlName='showTitle'></mat-slide-toggle>
    </p>
    <p class='setting-item'>
      Enable Spell Check <mat-slide-toggle formControlName='enableSpellCheck'></mat-slide-toggle>
    </p>

    <p class='setting-item'>
      Show line number on editor <mat-slide-toggle formControlName='editorEnableLineNumber'></mat-slide-toggle>
    </p>

    <p class='setting-item'>
      Editor theme <mat-select formControlName='editorTheme'>
        <mat-option value="null">Nothing</mat-option>
        <mat-option value="material">Material</mat-option>
        <mat-option value="material-darker">Material Darker</mat-option>
        <mat-option value="material-ocean">Material Ocean</mat-option>
        <mat-option value="night">Night</mat-option>
        <mat-option value="twilight">Twilight</mat-option>
        <mat-option value="yeti">Yeti</mat-option>
        <mat-option value="yonce">Yonce</mat-option>
        <mat-option value="zenburn">Zenburn</mat-option>
      </mat-select>
    </p>
  </mat-tab>
  <mat-tab label="Security">
    <mat-accordion>
      <mat-expansion-panel *ngIf="data.isNoteAuthorized">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Update Password
          </mat-panel-title>
          <mat-panel-description>
            Change your note password
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div [formGroup]="formPassword">
          <mat-form-field class="w-100">
            <input matInput cdkFocusInitial class="w-100" formControlName="password" type="password"
              placeholder="type your new secret">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput cdkFocusInitial class="w-100" formControlName="confirmPassword" type="password"
              placeholder="type your new secret again">
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="formPassword.invalid" (click)="updatePassword()">Update
            Password</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
