<div class="container-fluid">
  <div class="row" >
    <div class="col-sm-12 nav-container">
      <i class="fa fa-bars cursor-pointer" (click)="toParrent.emit('TOGGLE_MENU_LEFT')"></i>
      <span class="brand-name cursor-pointer ml-4"  routerLink="/">Note.</span>
      <i class="fa fa-info cursor-pointer info-button" matRipple (click)="onInfoClicked($event)"></i>
    </div>
  </div>
</div>

<div class="about-us" *ngIf="showAboutUs">
  <i class="fa fa-close cursor-pointer info-button-close" (click)="onInfoClosed()"></i>
  <div>
    A
    <br/>Product
    <br/>By
    <br/>Initedit

    <br/>
    <a href="https://github.com/initedit" target="_blank" class="link-github">
      <i class="fa fa-github"></i>
    </a>
  </div>
</div>
