
<div class="tabs-scrollbar-container scroll-bar" #tabScrollBar >
  <div class="tab-scrollerbar"  (mousewheel)="onTabMouseWheel($event)" (DOMMouseScroll)="onTabMouseWheel($event)">
    <div class="tab-contaniner " >

      <div class="tab" *ngFor="let note of noteCollection"
      [class.active]="note.id==selectedNote.id && note.order_index==selectedNote.order_index"
      [class.d-none]="note.visibility==0"
      #itemRef
      (click)="onChangeSelectedNote(note)"
      (dblclick)="onDoubleClickTab(note,$event)">
        <span class="unsaved-indicator" [class.d-block]="note.modifiedContent || note.modifiedTitle">*</span>
        <input type="text" autocapitalize="none" #itemTitleInput (input)="modifiedTab('title',selectedNote)" (keyup.enter)="inputContent.focus()" (blur)="onTitleBlur(note)" class="tab-title" [(ngModel)]="note.title" [readOnly]="!note.isTitleEnabled">
        <i class="fa fa-close"  matTooltip="Close" (click)="hideNoteTab(note)" click-stop-propagation></i>
      </div>
      <button class="btn-add-tab" #btnInputAdd (click)="addNewNoteTab()" matTooltip="add new tab">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="note-content">
  <textarea class="writeable-content scroll-bar"
  [disabled]="!(!isNoteLocked() || (isNoteLocked() && isNoteAuthorized()))"
  (input)="modifiedTab('content',selectedNote)" #inputContent [(ngModel)]="selectedNote.content" autocapitalize="none"></textarea>
</div>

<section class="sidebar-left marker-visible">
    <!-- <div class="menu-item" (click)="toParrent.emit('TOGGLE_MENU_LEFT')" >
        <i class="fa fa-book icon" matTooltip="View&nbsp;Book(ALT+B)"></i>
    </div> -->
    <div class="menu-item" id="newNoteBtn" routerLink="/" >
        <i class="fa fa-home icon" matTooltip="Home(ALT+H)"></i>
    </div>
    <div class="menu-item" id="saveNoteBtn" (click)="saveNotes()">
        <i class="fa fa-save icon" matTooltip="Save(CTRL+S)"></i>
    </div>
    <div class="menu-item" id="downloadNoteBtn" (click)="download()">
        <i class="fa fa-download icon" matTooltip="Download(ALT+D)"></i>
    </div>
    <div class="menu-item" id="lockNoteBtn" *ngIf="isNoteLocked() && !isNoteAuthorized()" (click)="unlockCurrentNote()">
        <i class="fa fa-lock icon" matTooltip="Unlock(ALT+U)"></i>
    </div>

    <div class="menu-item" id="unlockAltNoteBtn" *ngIf="isNoteLocked() && isNoteAuthorized()" (click)="removePassword()">
        <i class="fa fa-unlock-alt icon" matTooltip="Lock(ALT+U)"></i>
    </div>

    <div class="menu-item" id="withoutLockNoteBtn" *ngIf="noteInfo?.type=='Public'" (click)="lockCurrentNote()">
        <i class="fa fa-unlock icon" matTooltip="Lock(ALT+U)"></i>
    </div>

    <div class="menu-item" id="linkNoteBtn" (click)="copyCurrentNoteLink()" >
        <i class="fa fa-link icon" matTooltip="Copy&nbsp;URL(ALT+L)"></i>
    </div>
    <div class="menu-item" id="clipboardNoteBtn" (click)="copyCurrentNoteText()">
        <i class="fa fa-clipboard icon" matTooltip="Copy(ALT+C)"></i>
    </div>

    <div class="menu-item" id="deleteNoteBtn" (click)="showConfirmDeleteBox()">
        <i class="fa fa-trash icon" matTooltip="Delete"></i>
    </div>
</section>
