@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */



body{
        overflow: hidden;
        background-color: #111;
        min-height: 100vh;
}
.scroll-bar::-webkit-scrollbar {
        height: 0.2em;
}
     
.scroll-bar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-bar::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
}

/*
Colors
*/
.text-accent-color{
        color: #bd2121 !important;
}
.bg-accent-color{
        background-color: #bd2121 !important;
}

/* 
Home Page Style
*/
.home{
        min-width: 100vw;
        min-height: 100vh;
        position: relative;
        z-index: 1;
}
.svg-bg{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
}
.bg-container,.content-container{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: transparent;
}
.bg-container{
        background-color: #111;
        opacity: 0.9;        
}
.content-container{
        z-index: 3;
        background-color: rgba(10,10,10,1);
}
.brand{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        width: 100%;
        text-align: center;
        color: #EEE;
        font-size: 12em;
}
.input-note{
        position: absolute;
        top: 60%;
        width: 65%;
        padding: 0.8em 0.6em;
        left: 17.5%;
        background-color: #333;
        color: #EEE;
        outline: none;
        text-align: center;
        border-width: 0.05em;
        border-style:solid;
        border-color: #111;
        font-size: 1.5rem;
}
.input-note:hover,.input-note:focus{
        border-color: rgb(0,0,0,0.9);
}


.tab-contaniner{
        position: relative;
        display: flex;
        overflow: auto;
        background-color: #111;
        /* margin-left: 6em; */
        min-height: 2em;
}

.tab-contaniner .tab{
        position: relative;
        /* float: left; */
        min-width: 200px;
        cursor: pointer;
        background-color: #111;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        /* border-top: 1px solid #999; */
        padding: 0.15em;
        display: inline-block;
        height: 2.1em;
}
.tab-contaniner .tab.active{
        background-color: #666;
        color: #FFF;
}
.unsaved-indicator{
        position: absolute;
        left: 0.2em;
        top: 0.2em;
        color: #EEE;
        display: none;
}
.tab-title{
        padding-left: 0.6em;
        background-color: transparent;
        border: none;
        color: #EEE;
        outline: none;
        cursor: pointer;
}
.tab-contaniner .fa-close{
        position: absolute;
        top: 0.5em;
        right: 0.4em;
        color: #EEE;
}
.writeable-content{
        width: 100%;
        min-height: 80vh;
        border:none;
        resize: none;
        outline: none;
        border: none;
        padding: 0.4em;
        background-color: #111;
        color: #EEE;
        height: calc(100vh - 4.6em);
        display: block;
}
.writeable-content:disabled{
        background-color: #444;
}
.btn-add-tab{
        background-color: #111;
        color: #EEE;
        outline: none;
        border: none;
        border-left: none;
        min-width: 2em; 
        position: fixed;
        left: 0;
        z-index: 1;
        padding: 0.25em;      
}
.menu-left-visible .btn-add-tab{
        display: none;
}
.sidebar-left{
        position: fixed;
        bottom: 1em;
        right: 1em;
        color: #EEE;
}
.sidebar-left .menu-item{
        position: relative;
        display: inline-block;
        padding: 0.4em;
        margin-right: 0.2em;
}
.sidebar-left .menu-item .title{
        /* display: none; */
}
.bs-modal{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
        background-color: rgba(0,0,0,0.3)
}
.bs-modal.visible{
        display: block  ;
}

/* Manu Left */
.menu-left{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 18em;
    height: 100vh;
    overflow-y: auto;
    background-color: #FFF;
    z-index: 3;
}
.menu-left .note-name{
        padding: 1em 0.5em;
}

/* Note Component */
.menu-left{
        left: -18em;
}
.main-container,.menu-left{
        transition: left 0.2s linear;
}
.main-container{
        position: relative;
        left: 0;
}
.main-container.menu-left-visible{
        left: 18em;
}
.menu-left-visible .menu-left{
       left: 0;
}
.back-nav{
        padding: 0.6em 1.255em;
        color: white;
        cursor: pointer;
}
.menu-item .title{
        position: absolute;
        top: -1.2em;
        right: 0px;
        background-color: #000;
        color: #EEE;
        padding: 0.2em 0.4em;
        display: none;
        font-size: 0.8em;
        /* min-width: 14em; */
        text-align: center;
        border-radius: 0.2em;
    
}
.menu-item .title .hint{
        display: inline-block;
}
.menu-item:hover .title{
        display: block;
}
.cursor-pointer{
        cursor: pointer;
}
.footer-nav{
        position: fixed;
        bottom: 1em;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
}
.footer-nav a{
        color: #FFF;
        padding: 0.8em 0.6em;
}
.list-group-item.selected{
        border-left: 0.2em solid #333;
}
.ui-toast-center .mat-simple-snackbar{
        text-align: center !important;
        justify-content: center;
}
/*
Mobile
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
        .brand{
                font-size: 6em;
        }
        .input-note{
                width: 95%;
                left: 2.5%;
        }
        .menu-left{
                width:100vw;
        }
        .menu-left{
                left: -100vw;
        }
        
}