.home {
  min-width: 100vw;
  min-height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 1);

}

.content-container {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
  text-align: center;
  margin-top: -4em;
}

.brand {
  width: 100%;
  text-align: center;
  color: #EEE;
  font-size: 12em;
}

.input-note {
  width: 65%;
  padding: 0.8em 0.6em;
  background-color: #333;
  color: #EEE;
  outline: none;
  text-align: center;
  border-width: 0.05em;
  border-style: solid;
  border-color: #111;
  font-size: 1.5rem;
  text-transform: lowercase;

}

.input-note:hover,
.input-note:focus {
  border-color: rgb(0, 0, 0, 0.9);
}

/*
Mobile
*/

@media (max-width: 767px) {
  .brand {
    font-size: 6em;
  }

  .input-note {
    width: 95%;
  }

  .content-container {
    margin-top: -2em;
  }
}
