<div class="main-container" [class.menu-left-visible]="menuLeftVisible">
  <app-header-nav (onAction)="menuEvent($event)"></app-header-nav>
  <app-note-collection [notes]="response" [activeNote]="selectedNote" [slug]="getCurrentNoteSlug()"
    (onAction)="noteCollectionEvent($event)"></app-note-collection>
  <app-toast></app-toast>
  <div class="menu-left scroll-bar">
    <div class="bg-accent-color back-nav" (click)="menuLeftVisible=false">
      <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
      Close
    </div>
    <div class="m-2">
      <input type="search" class="form-control" placeholder="search note" #searchInput
        (input)="search(searchInput.value)" />
    </div>
    <ul class="list-group" [sortablejs]="noteCollection" [sortablejsOptions]="sortableOption">
      <li class="list-group-item list-group-item-action cursor-pointer" [class.selected]="note==selectedNote"
        *ngFor="let note of filteredNoteCollection" (click)="updateSelectedNote(note)">
        <i class="fa fas fa-arrows sort-handle mr-2"></i>
        <span class="float-right ">
          <span class="badge badge-pill float-right">
            <i class="fa fa-eye" matTooltip="Visible" *ngIf="note.visibility==1"></i>
            <i class="fa fa-eye-slash" matTooltip="Hidden" *ngIf="note.visibility!=1"></i>
          </span>
          <span class="badge badge-pill float-right" click-stop-propagation (click)="showDeleteConfirmationTab(note)">
            <i class="fa fa-trash-o" matTooltip="Delete Tab"></i>
          </span>
        </span>
        {{note.title}} <span class="badge timeAgo" matTooltip="{{ note.createdon * 1000 | date }}">{{ note.createdon | dateAgo}}</span>


      </li>
    </ul>
  </div>
</div>
