<div class="main-container" [class.menu-left-visible]="menuLeftVisible">
<app-header-nav (onAction)="menuEvent($event)"></app-header-nav>
<app-note-collection [notes]="response" [activeNote]="selectedNote" [slug]="getCurrentNoteSlug()" (onAction)="noteCollectionEvent($event)" ></app-note-collection>
<app-toast></app-toast>
<div class="menu-left">
  <!-- <ul class="list-group">
      <li class="list-group-item list-group-item-action active" >
         
      </li>
  </ul> -->
  <div class="bg-primary back-nav" (click)="menuLeftVisible=false"> 
    <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
    Close
  </div>
    <ul class="list-group" [sortablejs]="noteCollection" [sortablejsOptions]="sortableOption">

    <li class="list-group-item list-group-item-action" *ngFor="let note of noteCollection" (click)="selectedNote=note">
      {{note.title}}

      <span class="badge badge-pill float-right" click-stop-propagation (click)="deleteTab(note)">
        <i class="fa fa-trash-o"></i>
      </span>
    </li>
    
  </ul>
</div>
<div class="bs-modal" [class.visible]="showAuthModel">
                <div class="modal-dialog">
                  <div class="modal-content">
                   <div class="modal-header">
                      <h5 class="modal-title ">Unlock</h5>
                      <button type="button" class="close" (click)="showAuthModel=false">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" #myPassword class="form-control mb-2" placeholder="type your sceret key"/>
                      <button type="button" class="btn btn-primary w-100" (click)="validatePassword(myPassword.value)">Unlock</button>
                    </div>
                  </div>
                </div>
</div>

<div class="bs-modal" [class.visible]="showCreatePassword">
    <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title ">Set Password</h5>
          <button type="button" class="close" (click)="showCreatePassword=false">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" #myNewPassword class="form-control mb-2" placeholder="type your sceret key"/>
          <label>
            <input type="checkbox" #isPrivate /> Make note private(Super Secure)
          </label>
          <button type="button" class="btn btn-primary w-100" (click)="setNotePassword(myNewPassword.value,isPrivate.checked)">Set Password</button>
        </div>
      </div>
    </div>
</div>
</div>